body {
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
}
table {
	margin:0; 
	padding:0; 
	border-collapse:collapse;
	text-align:left;
}
th {
	margin:0; 
	padding:0; 
	border-collapse:collapse;
	background-color:#F8485E;
	color:#ffffff;
}
th.altBar {
	margin:0; 
	padding:0; 
	border-collapse:collapse;
	background-color:#D6EBE7;
	color:#53565A;
	text-align:left;
}
th.thClick {
	margin:0; 
	padding:0; 
	border-collapse:collapse;
	background-color:#F8485E;
	color:#ffffff;
	cursor:pointer;
}
th.thClickS {
	margin:0; 
	padding:0; 
	border-collapse:collapse;
	background-color:#F8485E;
	color:#E3C500;
	cursor:pointer;
}
th.thT {
	margin:0; 
	padding:0; 
	border-collapse:collapse;
	background-color:#F8485E;
	color:#E3C500;
	text-align:center;
}
td.dashHeadEmpty {
	margin:0; 
	padding:0;
	border-collapse:collapse;
	background-color:#FFFFFF;
	text-align:left;
	font-size:x-small;
	font-weight:bold;
}
td.dashHeadTitle {
	margin:0; 
	padding-bottom:5px;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	border: none;
	font-size:medium;
	font-weight:bold;
}
td.dashHead {
	margin:0; 
	padding:0;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	font-size:large;
	font-weight:bold;
}
td.dashColHead {
	margin:0; 
	padding-left:5px;
	border: white 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:left;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenter {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterAlt {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#53565A;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterLeft {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterBoxTLH {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px solid;
	border-left: black 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterBoxTLHAlt {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px solid;
	border-left: black 0.5px solid;
	background-color:#53565A;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterBoxBLHAlt {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: black 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px solid;
	background-color:#53565A;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterBoxTRH {
	margin:0; 
	padding:0;
	border-right: black 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterBoxTRHAlt {
	margin:0; 
	padding:0;
	border-right: black 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#53565A;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterBoxAlt {
	margin:0; 
	padding:0;
	border-right: black 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#0090FF;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterBoxBLH {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: black 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterDBot {
	margin:0; 
	padding:0;
	border-left: black 0.5px solid;
	border-right: white 0.5px solid;
	border-top: white 0.5px solid;
	border-bottom: black 0.5px dashed;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadCenterDTop {
	margin:0; 
	padding:0;
	border-left: black 0.5px solid;
	border-right: white 0.5px solid;
	border-top: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadTop {
	margin:0; 
	padding:0;
	border-left: white 0.5px solid;
	border-right: white 0.5px solid;
	border-top: black 0.5px solid;
	border-bottom: white 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashColHeadBottom {
	margin:0; 
	padding:0;
	border-left: black 0.5px solid;
	border-right: black 0.5px solid;
	border-bottom: black 0.5px solid;
	border-top: none;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCell {
	margin:0; 
	padding:0;
	border: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellFill {
	margin:0; 
	padding:0;
	border: white 0.5px solid;
	background-color:#E3C500;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellDBot {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: white 0.5px solid;
	border-bottom: black 0.5px dashed;
	border-top: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellDBotRight {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: black 0.5px solid;
	border-bottom: black 0.5px dashed;
	border-top: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellDTop {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px dashed;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellDTopFill {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px dashed;
	background-color:#E3C500;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellDTopRight {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: black 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px dashed;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellDTopRightFill {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: black 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: black 0.5px dashed;
	background-color:#E3C500;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellBoxRight {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: black 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellBoxRightFill {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: black 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;;
	background-color:#E3C500;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellBoxBot {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: white 0.5px solid;
	border-bottom: black 0.5px solid;
	border-top: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellBoxBotFill {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: white 0.5px solid;
	border-bottom: black 0.5px solid;
	border-top: white 0.5px solid;
	background-color:#E3C500;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellBoxBRH {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: black 0.5px solid;
	border-bottom: black 0.5px solid;
	border-top: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.dashCellBoxBRHFill {
	margin:0; 
	padding:0;	
	border-left: white 0.5px solid;
	border-right: black 0.5px solid;
	border-bottom: black 0.5px solid;
	border-top: white 0.5px solid;
	background-color:#E3C500;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;
}
td.ldTitle {
	margin:0; 
	padding-top:5px;
	padding-bottom:5px;
	background-color:#FFFFFF;
	color:#53565A;
	text-align:left;
	border: none;
	font-size:medium;
	font-weight:bold;
}
td.ldIssueTitle {
	margin:0; 
	padding-right:5px;
	background-color:#FFFFFF;
	color:#53565A;
	border: none;
	font-size:x-small;
	text-align:right;
	font-weight:bold;
}
td.ldIssue {
	margin:0; 
	background-color:#FFFFFF;
	color:#53565A;
	border: none;
	font-size:xx-small;
	text-align:left;
}
td.chartTitle {
	margin:0; 
	padding-top:5px;
	padding-bottom:5px;
	background-color:#FFFFFF;
	color:#53565A;
	text-align:centre;
	border: none;
	font-size:small;
}
td.ldBlank {
	margin:0; 
	padding:0;
	border-collapse:collapse;
	background-color:#FFFFFF;
	text-align:left;
	font-size:x-small;
	font-weight:bold;
}
td.ldFilter {
	margin:0; 
	padding:0;
	border-collapse:collapse;
	background-color:#FFFFFF;
	color: #53565A;
	text-align:left;
	font-size:x-small;
	font-weight:bold;
}
td.ldHead {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldAction {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:black;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldHeadLeftDash {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldHeadLeftDash {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldHeadLeftDashStress {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:small;
	font-weight: bold;
}
td.ldHeadRightDash {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldHeadRightDashStress {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:small;
	font-weight: bold;
}
td.ldHeadBothDash {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldHeadBothDashStress {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:small;
	font-weight: bold;
}
td.ldHeadBlue {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:#0090FF;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldHeadOrange {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:orange;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldHeadGreen {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:green;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldHeadRed {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:red;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;
	font-weight: bold;
}
td.ldGridBreak {
	margin:0; 
	padding:0;
	border: none;
	background-color:#DDDDDD;
	color:#FFFFFF;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid1 {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid1Black {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid1RDashBlack {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid1RDashBlackBold {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;	
}
td.ldGrid1BlackBold {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;	
}
td.ldGrid1Red {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:red;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid1RDashRed {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:red;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid1Orange {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:orange;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid1RDashOrange {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:orange;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid1Green {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:green;
	text-align:center;
	font-size:x-small;
}
td.ldGrid1RDashGreen {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#F3F5D7;
	color:green;
	text-align:center;
	font-size:x-small;
}
td.ldGrid2 {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid2Black {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid2RDashBlack {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid2RDashBlackBold {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;	
}
td.ldGrid2BlackBold {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;
	font-weight:bold;	
}
td.ldGrid2RDashRed {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:red;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid2Red {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:red;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid2Orange {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:orange;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid2RDashOrange {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:orange;
	text-align:center;
	font-size:x-small;	
}
td.ldGrid2Green {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:green;
	text-align:center;
	font-size:x-small;
}
td.ldGrid2RDashGreen {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:green;
	text-align:center;
	font-size:x-small;
}
td.ldWhite {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldWhiteLDash {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldWhiteRDash {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGreen {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:#B8E08C;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGreenLDash {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color: #B8E08C;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGreenRDash {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color: #B8E08C;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldAmber {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color: #FFDE75;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldAmberLDash {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color: #FFDE75;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldAmberRDash {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color: #FFDE75;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldRed {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:red;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldRedLDash {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:red;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldRedRDash {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:red;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGray {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:gray;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGrayLDash {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:gray;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldGrayRDash {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:gray;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}	
td.ldPurple {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:purple;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldPurpleLDash {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	background-color:purple;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.ldPurpleRDash {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	background-color:purple;
	color:#000000;
	text-align:center;
	font-size:x-small;	
}
td.grid1 {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #F3F5D7;
	height: 20px
}
td.grid1bb {
	border-bottom: black 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #F3F5D7;
	height: 20px
}
td.grid1br {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: black 1px solid;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #F3F5D7;
	height: 20px
}
td.grid2br {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: black 1px solid;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #ffffff;
	height: 20px
}
td.grid2 {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #ffffff;
	height: 20px
}
td.grid2bb {
	border-bottom: black 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #ffffff;
	height: 20px
}
td.grid2xs {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:x-small;
	background-color : #ffffff;
	height: 15px
}
td.grid1g {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #ff6600;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #F3F5D7;
	height: 20px
}
td.grid2g {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #ff6600;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #ffffff;
	height: 20px
}
td.grid1gg {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #009900;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #F3F5D7;
	height: 20px
}
td.grid2gg {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #009900;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #ffffff;
	height: 20px
}
td.grid1gr {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #7f7f7f;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #F3F5D7;
	height: 20px
}
td.grid2gr {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #7f7f7f;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #ffffff;
	height: 20px
}
td.grid1r {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: red;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #F3F5D7;
	height: 20px
}
td.grid2r {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: red;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #ffffff;
	height: 20px
}
td.grid1i {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #F3F5D7;
	height: 20px
}
td.grid2i {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	background-color : #ffffff;
	height: 20px
}
td.grid1t {
	padding-left:5px;
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: medium none;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #F3F5D7;
	height: 20px
}
td.grid1tbb {
	padding-left:5px;
	border-bottom: black 1px solid;
	border-left: medium none;
	border-right: medium none;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #F3F5D7;
	height: 20px
}
td.grid2t {
	padding-left:5px;
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: medium none;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #ffffff;
	height: 20px
}
td.grid2tbb {
	padding-left:5px;
	border-bottom: black 1px solid;
	border-left: medium none;
	border-right: medium none;
	border-top: medium none;
	color: black;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #ffffff;
	height: 20px
}
input.listbutton {
	background-color:#F8485E;
	color:#ffffff;
	border-color: #F8485E;
	font-family:arial, verdana, helvetica, sans-serif; 
	font-size:x-small;
	font-weight:bold;
    width: 18px;
    height: 18px;
}
input.text {
	font-size:small;
}
input.button {
	background-color:#F8485E;
	color:#ffffff;
	border-color: #F8485E;
	font-size:small;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}
td.lTitle1 {
	color:#53565A;
	font-size:xx-large;
	font-weight:bold;
	text-align:center;
}
td.lTitle2 {
	color:#53565A;
	font-size: large;
	text-align: center;
}
td.lTitle2b {
	color:#53565A;
	font-size: x-large;
	text-align: center;
	font-weight:bold;
}
td.lTitle2m {
	color:#53565A;
	font-size: medium;
	text-align: center;
}
td.lTitle3 {
	background-color:#FFFFFF;
	color:#F8485E;
	font-size:x-large;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:10px;
	border-radius: 5px 5px 0px 0px;
}
td.lTitle4 {
	background-color:#FFFFFF;
	color:dimgray;
	color:#53565A;
	font-size:small;
	font-weight: bold;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;
}
td.lTitle5 {
	background-color:#FFFFFF;
	color:#0090FF;
	font-size:small;
	padding-right:10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 30px;
	border-radius: 0px 0px 5px 5px;
}
td.lTitle6 {
	background-color:#FFFFFF;
	color:#53565A;
	font-size:xx-small;
	padding-right:10px;
}
td.lTitle7 {
	background-color:#FFFFFF;
	color:#53565A;
	font-size:xx-small;
	text-align: left;
	vertical-align: top;
	padding-right:50px;
}
td.lTitle8 {
	color:#53565A;
	font-size: large;
	text-align: left;
	font-weight:bold;
}
td.lTitle9 {
	color:#53565A;
	font-size: medium;
	text-align: left;
}
td.lMessage {
	color:#F8485E;
	font-size:medium;
}
input.lText {
	width: 250px;
	font-size:medium;
	padding: 10px;
	border-radius: 5px;
	border-color: #0090FF;
	border: 0.5px solid;
}
input.LButton {
	background-color:#0090FF;
	color:#ffffff;
	border-color: #0090FF;
	font-size:small;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	padding:5px;
	border-radius: 10px;
}
div.menu1 {
	background-color:#F8485E;
	color:#ffffff;
	font-size:small;
	font-weight:bold;
}
div.menu1Item {
	background-color:#F8485E;
	color:#ffffff;
	padding-left:10px;
	padding-right:10px;
	font-size:small;
	font-weight:bold;
	cursor:pointer;
}
div.menu1ItemNeg {
	background-color:#ffffff;
	color:#F8485E;
	padding-left:10px;
	padding-right:10px;
	font-size:small;
	font-weight:bold;
	cursor:pointer;
}
td.menu1 {
	background-color:#F8485E;
	color:#ffffff;
	font-size:small;
	font-weight:bold;
}
td.menu1Item {
	background-color:#F8485E;
	color:#ffffff;
	padding-left:10px;
	padding-right:10px;
	font-size:small;
	font-weight:bold;
	cursor:pointer;
}
td.menu1ItemNeg {
	background-color:#ffffff;
	color:#F8485E;
	padding-left:10px;
	padding-right:10px;
	font-size:small;
	font-weight:bold;
	cursor:pointer;
}
div.menu2 {
	background-color:#53565A;
	color:#ffffff;
	font-size:small;
	font-weight:bold;
}
div.menu2Item {
	background-color:#53565A;
	color:#ffffff;
	padding-left:10px;
	padding-right:10px;
	font-size:small;
	font-weight:bold;
	cursor:pointer;
}
div.menu2ItemNeg {
	background-color:#ffffff;
	color:#5d686e;
	padding-left:10px;
	padding-right:10px;
	font-size:small;
	font-weight:bold;
	cursor:pointer;
}
div.filter {
	background-color:#5d686e;
	color:#ffffff;
	border:1px solid black;
	padding:10px;
	font-size:small;
	font-weight:bold;
	position:absolute;
	top:0px;
	left:0px;
	display:none
}
div.filter2 {
	background-color:#5d686e;
	color:#ffffff;
	border:1px solid black;
	padding:10px;
	font-size:small;
	font-weight: normal;
	position:absolute;
	top:0px;
	left:0px;
	display:none
}
div.filterAlt {
	background-color:#F8485E;
	color:#ffffff;
	border:1px solid black;
	padding:10px;
	font-size:small;
	position:absolute;
	top:0px;
	left:0px;
	display:none
}
div.displayPic {
	background-color:#FFFFFF;
	color:#000000;
	border:none;
	padding:10px;
	position:absolute;
	top:0px;
	left:0px;
	display:none
}
div.displayPicX {
	cursor:pointer;
	height:12px;
	border:black 1px solid;
	margin-top:-10px;
	margin-right:-5px;
	float:right;
	font-size:x-small;
	font-weight:bold;
}
input.displayPicButton {
	background-color:#FFFFFF;
	color:#000000;
	border: silver 0.5px solid;
	font-size:x-small;
	font-weight: bold;
	text-align:center;
	cursor:pointer;
}
div.closeX {
	cursor:pointer;
	height:10px;
	margin-top:-10px;
	margin-right:-5px;
	float:right;
}
div.infoMsg {
	color:#F8485E;
}
div.errorMsg {
	color:#F8485E;
}
div.cBLT {
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	padding-left:5px;
	padding-top:2px;
}
select.filter {
	width:100%	
}
h2.white {
	color:#ffffff;
}
h3.white {
	color:#ffffff;
}
h2 {
	color:#5d686e;
}
input.listbutton {
	background-color: #F8485E;
	color: #ffffff;	
	border-color: #F8485E;
	FONT-FAMILY: arial, verdana, helvetica, sans-serif;
	FONT-SIZE: x-small;
	font-weight : bold;
    width: 24px;
    height: 22px;
}
td.grid1BlueBold {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #00BFFF;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #F3F5D7;
	height: 20px
}
td.grid1OrangeBold {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #FFA500;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #F3F5D7;
	height: 20px
}
td.grid1GreenBold {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #008000;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #F3F5D7;
	height: 20px
}
td.grid2BlueBold {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #00BFFF;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #ffffff;
	height: 20px
}
td.grid2OrangeBold {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #FFA500;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #ffffff;
	height: 20px
}
td.grid2GreenBold {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: #008000;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #ffffff;
	height: 20px
}
td.grid1RedBold {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: red;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #F3F5D7;
	height: 20px
}
td.grid2RedBold {
	border-bottom: silver 1px solid;
	border-left: medium none;
	border-right: silver 1px solid;
	border-top: medium none;
	color: red;
	font-family: arial, verdana, helvetica, sans-serif; 
	font-size:small;
	font-weight:bold;
	background-color : #ffffff;
	height: 20px
}
td.siteCompGreen {
	font-size: xx-small;
	border-radius: 5px;
	border-color: #FFFFFF;
	background-color: green;
	color: #FFFFFF;
	text-align: center;
	text-weight: bold;	
}
td.siteCompAmber {
	font-size: xx-small;
	border-radius: 5px;
	border-color: #FFFFFF;
	background-color: orange;
	color: #FFFFFF;
	text-align: center;
	text-weight: bold;	
}
td.siteCompRed {
	font-size: xx-small;
	border-radius: 5px;
	border-color: #FFFFFF;
	background-color: red;
	color: #FFFFFF;
	text-align: center;
	text-weight: bold;	
}
@-webkit-keyframes amberFlash {
  from { background-color: #FFDE75; }
  to { background-color: orange; }
}
@-moz-keyframes amberFlash {
  from { background-color: #FFDE75; }
  to { background-color: orange; }
}
@-o-keyframes amberFlash {
  from { background-color: #FFDE75; }
  to { background-color: orange; }
}
@keyframes amberFlash {
  from { background-color: #FFDE75; }
  to { background-color: orange; }
}
td.amberFlash {
  -webkit-animation: amberFlash 1s infinite; /* Safari 4+ */
  -moz-animation:    amberFlash 1s infinite; /* Fx 5+ */
  -o-animation:      amberFlash 1s infinite; /* Opera 12+ */
  animation:         amberFlash 1s infinite; /* IE 10+ */
}

td.ldAmbeF {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	color:#000000;
	text-align:center;
	font-size:x-small;		
	-webkit-animation: amberFlash 1s infinite; /* Safari 4+ */
	-moz-animation:    amberFlash 1s infinite; /* Fx 5+ */
	-o-animation:      amberFlash 1s infinite; /* Opera 12+ */
	animation:         amberFlash 1s infinite; /* IE 10+ */
}
td.ldAmbeFLDash {
	margin:0; 
	padding:0;
	border-right: white 0.5px solid;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: black 0.5px dashed;
	color:#000000;
	text-align:center;
	font-size:x-small;			
	-webkit-animation: amberFlash 1s infinite; /* Safari 4+ */
	-moz-animation:    amberFlash 1s infinite; /* Fx 5+ */
	-o-animation:      amberFlash 1s infinite; /* Opera 12+ */
	animation:         amberFlash 1s infinite; /* IE 10+ */
}
td.ldAmbeFRDash {
	margin:0; 
	padding:0;
	border-right: black 0.5px dashed;
	border-bottom: white 0.5px solid;
	border-top: white 0.5px solid;
	border-left: white 0.5px solid;
	color:#000000;
	text-align:center;
	font-size:x-small;			
	-webkit-animation: amberFlash 1s infinite; /* Safari 4+ */
	-moz-animation:    amberFlash 1s infinite; /* Fx 5+ */
	-o-animation:      amberFlash 1s infinite; /* Opera 12+ */
	animation:         amberFlash 1s infinite; /* IE 10+ */
}
td.infoMsg {
	color:#53565A;
}
td.errorMsg {
	color:#F8485E;
}
td.clientBox {
	color:#53565A;
	background-color:#F0F0F0;
	font-size: medium;
	text-align: center;
}
td.clientBoxBold {
	color:#53565A;
	background-color:#F0F0F0;
	font-size: medium;
	text-align: center;
	font-weight:bold;
}
td.clientBoxBoldGreen {
	color:green;
	background-color:#F0F0F0;
	font-size: medium;
	text-align: center;
	font-weight:bold;
}
td.clientBoxBoldAmber {
	color:orange;
	background-color:#F0F0F0;
	font-size: medium;
	text-align: center;
	font-weight:bold;
}
td.clientBoxBoldRed {
	color:red;
	background-color:#F0F0F0;
	font-size: medium;
	text-align: center;
	font-weight:bold;
}
td.whiteBox {
	color:#53565A;
	background-color:#FFFFFF;
	font-size: medium;
	text-align: center;
}
td.clientTop {
	color:#53565A;
	background-color:#FFFFFF;
	font-size: xx-small;
	text-align: center;
}
td.dateSearchTClass {
	color:#53565A;
	background-color:#F0F0F0;
	font-size:medium;
	text-align:center;
	font-weight:bold;
}
td.dateSearchTLClass {
	padding-left:5px;
	padding-top:10px;
	padding-bottom:5px;
	color:#53565A;
	background-color:#F0F0F0;
	font-size:medium;
	text-align:left;
	font-weight:bold;
}
td.dateSearchTop {
	padding-left:5px;
	padding-top:10px;
	padding-bottom:5px;
	color:#53565A;
	background-color:#F0F0F0;
	font-size:medium;
	text-align:center;
	font-weight:bold;
}
td.dateSearchTLCClass {
	color:#53565A;
	background-color:#F0F0F0;
	font-size:small;
	text-align:left;
	font-weight:bold;
}
td.dateSearchMClass {
	padding: 2px;
	color:#53565A;
	background-color:#C0C0C0;
	font-size:x-small;
	text-align:center;
	font-weight:bold;
	border:#C0C0C0 1.0px solid;	
}
td.dateSearchHClass {
	color:#53565A;
	background-color:#C0C0C0;
	font-size:small;
	text-align:center;
	font-weight:bold;
}
td.dateSearchHPClass {	
	cursor:pointer;
	color:#53565A;
	background-color:#C0C0C0;
	font-size:small;
	text-align:center;
	font-weight:bold;
}
td.dateSearchDClass{
	color:#C0C0C0;
	background-color:#FFFFFF;
	font-size:small;
	text-align:center;
}
td.dateSearchDBClass {
	cursor:pointer;
	color:#53565A;
	background-color:#FFFFFF;
	font-size:small;
	text-align:center;
	font-weight:bold;
}
td.dateSearchDTClass {
	color:#53565A;
	background-color:#FFFFFF;
	font-size:small;
	text-align:center;
	font-weight:bold;
}
td.siteReportHClass {
	color:#FFFFFF;
	background-color:#53565A;
	border: 1.0px #53565A solid;
	font-size:x-small;
	text-align:center;
	font-weight:bold;
}
td.siteReportDClass {
	cursor:pointer;
	color:#53565A;
	background-color:#FFFFFF;
	font-size:x-small;
	text-align:center;
	font-weight:bold;
}
td.siteReportDEClass {
	color:#53565A;
	background-color:#FFFFFF;
	font-size:x-small;
	text-align:center;
	font-weight:bold;
}
td.siteReportDGreenClass {
	cursor:pointer;
	color:green;
	background-color:#FFFFFF;
	font-size:x-small;
	text-align:center;
	font-weight:bold;
}
td.siteReportDAmberClass {
	cursor:pointer;
	color:orange;
	background-color:#FFFFFF;
	font-size:x-small;
	text-align:center;
	font-weight:bold;
}
td.siteReportDRedClass {
	cursor:pointer;
	color:red;
	background-color:#FFFFFF;
	font-size:x-small;
	text-align:center;
	font-weight:bold;
}
td.clientHead {
	color:#53565A;
	background-color:#F0F0F0;
	font-size: small;
	text-align: center;
	font-weight: bold;
	border:0.5px #C0C0C0 solid;
}
td.clientHeadWBord {
	color:#53565A;
	font-size: small;
	text-align: center;
	font-weight: bold;
	border:0.5px white solid;
}
td.clientHeadNoBord {
	color:#53565A;
	font-size: small;
	text-align: center;
	font-weight: bold;
}
td.clientHeadLarge {
	color:#53565A;
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
	border:0.5px #C0C0C0 solid;
}
td.clientHeadLargeGreen {
	color:green;
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
	border:0.5px #C0C0C0 solid;
}
td.clientHeadLargeAmber {
	color:orange;
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
	border:0.5px #C0C0C0 solid;
}
td.clientHeadLargeRed {
	color:red;
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
	border:0.5px #C0C0C0 solid;
}
div.popUpX {	
	cursor:pointer;
	height:10px;
	margin-top:-10px;
	margin-right:-5px;
	float:right;
}
div.popUp {
	background-color:#F0F0F0;
	color:#53565A;
	border: 1.0px #53565A solid;
	padding:10px;
	font-size:small;
	position:absolute;
	top:0px;
	left:0px;
	display:none
}
td.popUpHead {
	background-color:#53565A;
	color: #FFFFFF;
	font-size:xx-small;
	text-align:left;
	font-weight:bold;
	border:0.5px #FFFFFF solid;
}
td.popUpDetail {
	color:#53565A;
	font-size:xx-small;
	text-align:left;
	border:0.5px #FFFFFF solid;
}
td.repHead {
	color:#FFFFFF;
	background-color:#F8485E;
	font-size:x-small;
	text-align:center;
	border-bottom:0.5px #53565A solid;
	border-left:0.5px #53565A solid;
	border-right:0.5px #53565A solid;
	border-top:0.5px #53565A solid;
}
td.weekCell {
	color:#53565A;
	background-color:#F0F0F0;
	font-size:x-small;
	text-align:center;
	font-weight:bold;
	border-bottom:0.5px #53565A solid;
	border-left:0.5px #53565A solid;
	border-right:0.5px #53565A solid;
}
td.totalCell {
	color:#53565A;
	background-color:#FFFFFF;
	font-size:x-small;
	text-align:center;
	font-weight:bold;
	border-bottom:0.5px #53565A solid;
	border-left:0.5px #53565A solid;
	border-right:0.5px #53565A solid;
}
td.totalBoxGrey {
	color:#53565A;
	background-color:#FFFFFF;
	font-size: medium;
	text-align: center;
	font-weight:bold;
	border-radius: 20px;
	border-color: #53565A;
	border: 0.5px solid;
}
td.totalBoxGreen {
	color:green;
	background-color:#FFFFFF;
	font-size: medium;
	text-align: center;
	font-weight:bold;
	border-radius: 20px;
	border-color: green;
	border: 0.5px solid;
}
td.totalBoxAmber {
	color:orange;
	background-color:#FFFFFF;
	font-size: medium;
	text-align: center;
	font-weight:bold;
	border-radius: 20px;
	border-color: orange;
	border: 0.5px solid;
}
td.totalBoxRed {
	color:red;
	background-color:#FFFFFF;
	font-size: medium;
	text-align: center;
	font-weight:bold;
	border-radius: 20px;
	border-color: red;
	border: 0.5px solid;
}
td.summaryLit {
	padding-left: 5px;
	color:#53565A;
	background-color:#F0F0F0;
	border: #53565A 0.5px solid;
	font-size:xx-small;
	text-align:left;
	font-weight:bold;
}
td.summaryDet {
	padding-left: 5px;
	color:#53565A;
	background-color:#F0F0F0;
	border: #53565A 0.5px solid;
	font-size:xx-small;
	text-align:left;
}
td.ldFEWhite {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:#FFFFFF;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEWhiteBO {
	margin:0; 
	padding:0;
	border-radius: 5px;
	background-color:#FFFFFF;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEGray {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:gray;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEGrayBO {
	margin:0; 
	padding:0;
	border-radius: 5px;
	background-color:gray;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEThinGray {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:gray;
	color:#000000;
	text-align:center;
	font-size:xx-small;	
	font-weight:bold;
}
td.ldFEGreen {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:#B8E08C;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEGreenBO {
	margin:0; 
	padding:0;
	border-radius: 5px;
	background-color:#B8E08C;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFERed {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:red;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFERedBO {
	margin:0; 
	padding:0;
	border-radius: 5px;
	background-color:red;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEAmber {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:#FFDE75;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEAmberBO {
	margin:0; 
	padding:0;
	border-radius: 5px;
	background-color:#FFDE75;
	color:#53565A;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEPurple {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:purple;
	color:#D0D0D0;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEHead {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:left;
	font-size:medium;
	font-weight: bold;
}
td.ldFEHeadSite {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#F8485E;
	color:#FFFFFF;
	text-align:center;
	font-size:medium;
	font-weight: bold;
}
td.ldFEGrid1 {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#F3F5D7;
	color:#53565A;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid1Black {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#F3F5D7;
	color:#000000;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid1Red {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#F3F5D7;
	color:red;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid1Orange {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#F3F5D7;
	color:orange;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid1Green {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#F3F5D7;
	color:green;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid1BlackBold {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#F3F5D7;
	color:#000000;
	text-align:left;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEGrid2 {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#FFFFFF;
	color:#53565A;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid2Bold {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#FFFFFF;
	color:#53565A;
	text-align:left;
	font-size:medium;	
	font-weight:bold;
}
td.ldFEGrid2Black {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid2Red {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#FFFFFF;
	color:red;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid2Orange {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#FFFFFF;
	color:orange;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid2Green {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#FFFFFF;
	color:green;
	text-align:left;
	font-size:medium;	
}
td.ldFEGrid2BlackBold {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#FFFFFF;
	color:#000000;
	text-align:left;
	font-size:medium;
	font-weight:bold;
}
td.FEName {
	color:#53565A;
	font-size: large;
	text-align: center;
	font-weight:bold;
}
td.FEProgressTitle {
	color:#53565A;
	font-size: xx-large;
	text-align: center;
	font-weight:bold;
}
td.FEAccessCRQTitle {
	margin:0; 
	padding:5px;
	border: #C0C0C0 0.5px solid;
	background-color:#53565A;
	color:#FFFFFF;
	text-align:left;
	font-size:large;
}
div.FeX {
	cursor:pointer;
	height:40px;
	border:black 1px solid;
	margin-top:-10px;
	margin-right:-5px;
	float:right;
	font-size:xx-large;
	font-weight:bold;
}
td.PSAmber {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:orange;
	color:#53565A;
	text-align:center;
	font-size:xx-large;	
	font-weight:bold;
}
td.PSAmberC {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:orange;
	color:#C0C0C0;;
	text-align:center;
	font-size:xx-large;	
	font-weight:bold;
}
td.PSGreen {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:#B8E08C;
	color:#53565A;
	text-align:center;
	font-size:xx-large;	
	font-weight:bold;
}
td.PSGreenC {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:#B8E08C;
	color:#C0C0C0;;
	text-align:center;
	font-size:xx-large;	
	font-weight:bold;
}
td.PSRed {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:red;
	color:#53565A;
	text-align:center;
	font-size:xx-large;	
	font-weight:bold;
}
td.PSRedC {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:red;
	color:#C0C0C0;
	text-align:center;
	font-size:xx-large;	
	font-weight:bold;
}
td.PSGray {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:gray;
	color:#53565A;
	text-align:center;
	font-size:xx-large;	
	font-weight:bold;
}
td.PSGrayC {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:gray;
	color:#C0C0C0;;
	text-align:center;
	font-size:xx-large;	
	font-weight:bold;
}
td.FEAction {
	margin:0; 
	padding:0;
	border-radius: 20px;
	background-color:#53565A;
	color:#FFFFFF;
	text-align:center;
	font-size:medium;	
	font-weight:bold;
}