<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Logon</servlet-name>
		<servlet-class>com.devoteam.tracker.LogonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logon</servlet-name>
		<url-pattern>/logon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PasswordChange</servlet-name>
		<servlet-class>com.devoteam.tracker.PasswordChangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PasswordChange</servlet-name>
		<url-pattern>/changePassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Reporting</servlet-name>
		<servlet-class>com.devoteam.tracker.ReportingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reporting</servlet-name>
		<url-pattern>/reporting</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRole</servlet-name>
		<servlet-class>com.devoteam.tracker.UserRoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRole</servlet-name>
		<url-pattern>/userRole</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Navigation</servlet-name>
		<servlet-class>com.devoteam.tracker.NavigationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Navigation</servlet-name>
		<url-pattern>/navigation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewSNRHistory</servlet-name>
		<servlet-class>com.devoteam.tracker.ViewSNRHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewSNRHistory</servlet-name>
		<url-pattern>/viewSNRHistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewAccessDetail</servlet-name>
		<servlet-class>com.devoteam.tracker.ViewAccessDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAccessDetail</servlet-name>
		<url-pattern>/viewAccessDetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SiteProgress</servlet-name>
		<servlet-class>com.devoteam.tracker.SiteProgressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SiteProgress</servlet-name>
		<url-pattern>/siteProgress</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewCommentaryDetail</servlet-name>
		<servlet-class>com.devoteam.tracker.ViewCommentaryDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewCommentaryDetail</servlet-name>
		<url-pattern>/viewCommentaryDetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewPMO</servlet-name>
		<servlet-class>com.devoteam.tracker.ViewPMOServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewPMO</servlet-name>
		<url-pattern>/viewPMO</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WorkQueues</servlet-name>
		<servlet-class>com.devoteam.tracker.WorkQueuesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkQueues</servlet-name>
		<url-pattern>/workQueues</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserAdministration</servlet-name>
		<servlet-class>com.devoteam.tracker.UserAdministrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAdministration</servlet-name>
		<url-pattern>/userAdministration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadPot</servlet-name>
		<servlet-class>com.devoteam.tracker.UploadPotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadPot</servlet-name>
		<url-pattern>/uploadPot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidatePot</servlet-name>
		<servlet-class>com.devoteam.tracker.ValidatePotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidatePot</servlet-name>
		<url-pattern>/validatePot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateFullPot</servlet-name>
		<servlet-class>com.devoteam.tracker.ValidateFullPotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateFullPot</servlet-name>
		<url-pattern>/validateFullPot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadFullPot</servlet-name>
		<servlet-class>com.devoteam.tracker.UploadFullPotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFullPot</servlet-name>
		<url-pattern>/uploadFullPot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadSchedule</servlet-name>
		<servlet-class>com.devoteam.tracker.UploadScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadSchedule</servlet-name>
		<url-pattern>/uploadSchedule</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateSchedule</servlet-name>
		<servlet-class>com.devoteam.tracker.ValidateScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateSchedule</servlet-name>
		<url-pattern>/validateSchedule</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadSchedule</servlet-name>
		<servlet-class>com.devoteam.tracker.DownloadScheduleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadSchedule</servlet-name>
		<url-pattern>/downloadSchedule</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JobTypeMaintenance</servlet-name>
		<servlet-class>com.devoteam.tracker.JobTypeMaintenanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobTypeMaintenance</servlet-name>
		<url-pattern>/jobTypeMaintenance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PreCheckMaintenance</servlet-name>
		<servlet-class>com.devoteam.tracker.PreCheckMaintenanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreCheckMaintenance</servlet-name>
		<url-pattern>/preCheckMaintenance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MultiSNRList</servlet-name>
		<servlet-class>com.devoteam.tracker.MultiSNRListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MultiSNRList</servlet-name>
		<url-pattern>/multiSNRList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateSNRList</servlet-name>
		<servlet-class>com.devoteam.tracker.UpdateSNRListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateSNRList</servlet-name>
		<url-pattern>/updateSNRList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CancelledSNR</servlet-name>
		<servlet-class>com.devoteam.tracker.CancelledSNRServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelledSNR</servlet-name>
		<url-pattern>/cancelledSNR</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>HomeBO</servlet-name>
		<servlet-class>com.devoteam.tracker.HomeBOServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeBO</servlet-name>
		<url-pattern>/homeBO</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>LiveDashboard</servlet-name>
		<servlet-class>com.devoteam.tracker.LiveDashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LiveDashboard</servlet-name>
		<url-pattern>/liveDashboard</url-pattern>
	</servlet-mapping>			
	<servlet>
		<servlet-name>SiteSearch</servlet-name>
		<servlet-class>com.devoteam.tracker.SiteSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SiteSearch</servlet-name>
		<url-pattern>/siteSearch</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>ClientReporting</servlet-name>
		<servlet-class>com.devoteam.tracker.ClientReportingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientReporting</servlet-name>
		<url-pattern>/clientReporting</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>HomeFE</servlet-name>
		<servlet-class>com.devoteam.tracker.HomeFEServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeFE</servlet-name>
		<url-pattern>/homeFE</url-pattern>
	</servlet-mapping>		
	<servlet>
		<servlet-name>ScheduleView</servlet-name>
		<servlet-class>com.devoteam.tracker.ScheduleViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleView</servlet-name>
		<url-pattern>/scheduleView</url-pattern>
	</servlet-mapping>			
	<servlet>
		<servlet-name>MissingData</servlet-name>
		<servlet-class>com.devoteam.tracker.MissingDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MissingData</servlet-name>
		<url-pattern>/missingData</url-pattern>
	</servlet-mapping>			
	<servlet>
		<servlet-name>UrTracker</servlet-name>
		<servlet-class>com.devoteam.UrTrackerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UrTracker</servlet-name>
		<url-pattern>/urtracker</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>logon.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
